# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth (NextAuth)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me

# Admin seed credentials
ADMIN_EMAIL=admin@yourcompany.com
ADMIN_PASSWORD=change_me_please
ADMIN_NAME=Admin User

# Database (Supabase Postgres)
DATABASE_URL=postgresql://...
DIRECT_URL=postgresql://...

# Stripe
STRIPE_SECRET_KEY=replace_me
STRIPE_WEBHOOK_SECRET=whsec_680abfbc1a95e958167483277cf9a8bb1c9c3b438395ecdb5aa9a3368a94041a

# Salesforce JWT (Connected App)
SF_LOGIN_URL=https://login.salesforce.com
SF_CLIENT_ID=connected_app_consumer_key
SF_USERNAME=integration-user@yourorg.com
SF_JWT_AUDIENCE=https://login.salesforce.com
SF_PRIVATE_KEY_BASE64=base64_of_private_key_pem

# Optional: Feature flags
FEATURE_CREATE_SUBSCRIPTION=true
